.logo-container{
    display: flex;
    justify-content:left;
    align-items: center;
}
.header{
    background-color: aqua;
    margin: 0;
}
.logo-name{
    margin-top: -500px;
}
NavLink{
    color: #0cb8b6;
}
.menu-text{
    color: #0cb8b6;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}
.menu-text:hover{
    color: #0cb8b6;
}
.logout-btn{
    background-color: #0cb8b6;

}
.profile-img{
    width:15%;
    border-radius: 50%;
    margin-right: 10px;
}