.contact-container{
    background-image: url("https://i.ibb.co/CtQZcsr/v870-tang-38.jpg");
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px 50px 0px;
    margin-bottom: 50px;
}