.services{
    background-color: #f9f8f8;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    margin: 10px;
}

/* card img style start */
.services img{
    width: 100%;
    border-bottom: 3px solid #0cb8b6;
    border-radius: 8px;
}

.card-btn{
   background-color: #0cb8b6;
   border-radius: 5px;
}


hr{
    color: rgb(179, 178, 178);
}
